@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.title img {
    width: 400px;
    max-width: 400px;
}

.swiper {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#resultado {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

.love-message {
  padding: 15px;
  width: 800px;
  max-width: 350px;
  color: white;
}

.love-message > h2 {
  margin-left: 25px;
}

.love-message > span {
  margin: 0px 40px;
}

.audio-player {
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background: #f1f3f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.audio-player h3 {
  margin: 0px;
}

.audio-player p {
  margin: 0px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

button {
  background: #555555;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

.progress-container {
  flex-grow: 1;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  cursor: pointer;
}

.progress {
  height: 100%;
  background: #f44242;
  border-radius: 3px;
  width: 0%;
}

.time {
  font-size: 14px;
  color: #666;
}